// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:inline-block
}

h1{
  padding-top: 30px;
  padding-left: 30px;
  display:block;
}

p{
  padding-left:70px;
  display:block;
}


